.button {
  $root: &;
  position: relative;
  width: fit-content;
  font-family: $f-bold;
  font-size: 1.6rem;
  color: $c-white;
  background-color: $c-red;
  border-radius: 6rem;
  padding: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: background-color $tr, transform $tr;

  &:hover {
    background-color: lighten($c-red, 10%);
    transform: translateX(1rem);
  }
}